body{
    width: 300px;
    height: 300px;
    text-align: center;
    background-image: url("../images/backlit.png");
}

#text{
    font-family: 'Times New Roman', Times, serif;
}

.hidden{
    display: none;
}